<%- include('../partials/home/home-header.ejs') %>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <form action="/checkout" method="post" class="payment-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-25">
                                <h4>Shipping Address</h4>

                            </div>
                            <div class="col-sm-2 p-0 m-0"><a href="/add-address" class="button">Add </a></div>

                            <div class="row mt-20">

                                <% for (let i=0; i < user.address.length; i++) { %>
                                    <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <!-- <input class="form-check-input" value="<%= JSON.stringify(user.address[i]) %>" type="radio" name="address" id="address"> -->
                                                <input class="form-check-input" required
                                                    value='<%= JSON.stringify(user.address[i]) %>' type="radio"
                                                    name="address" id="address<%= i %>">

                                                <% if(i===0) {%>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        <h5 class="mb-0">Home</h5>
                                                    </label>
                                                    <%}else if(i===1){%>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            <h5 class="mb-0">Office</h5>
                                                        </label>
                                                        <%}else{%>
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                <h5 class="mb-0">Other Address</h5>
                                                            </label>
                                                            <%}%>
                                            </div>
                                            <div class="card-body">
                                                <address>
                                                    <%=user.address[i].name%><br>
                                                        <%=user.address[i].customerName%>,
                                                            <%=user.address[i].addressLine1%>, <%=user.address[i].city%>
                                                                    <br>
                                                                    <%=user.address[i].state%><br>
                                                                        <%=user.address[i].zipcode%><br>
                                                                            <%=user.address[i].phone%><br>
                                                                                <%=user.address[i].email%>
                                                </address>
                                                <a href="#" class="btn-small">Edit</a>
                                            </div>
                                        </div>
                                    </div>

                                    <% } %>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%var sum=0%>
                                                <% for(i=0;i<user.cart.length;i++){ %>
                                                    <tr>
                                                        <td class="image product-thumbnail"><img
                                                                src="/assets2/imgs/products/<%=user.cart[i].productId.image[0]%>"
                                                                alt="#"></td>
                                                        <td>
                                                            <h5><a href="shop-product-full.html">
                                                                    <%=user.cart[i].productId.name%>
                                                                </a></h5> <span class="product-qty">x
                                                                <%=user.cart[i].quantity%></span>
                                                        </td>
                                                        <td>₹<span>
                                                                <%=user.cart[i].productId.price *
                                                                    user.cart[i].quantity%>
                                                            </span></td>
                                                        <%sum +=user.cart[i].productId.price * user.cart[i].quantity%>
                                                            <!-- <input type="hidden" name="product" value="<%=userCart.cart[i]%>"> -->
                                                            <!-- <input type="hidden" name="products" value='<%= JSON.stringify(user.cart) %>'> -->

                                                            <input type="hidden" name="salePrice"
                                                                value="<%=user.cart[i].productId.price%>">
                                                            <input type="hidden" name="quantity"
                                                                value="<%=user.cart[i].quantity%>">
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <th>SubTotal</th>
                                                            <td class="product-subtotal" colspan="2">₹<%=sum%>
                                                            </td>
                                                            <input type="hidden" name="GrandTotal" value="<%=sum%> ">

                                                        </tr>
                                                        <tr>
                                                            <th>Shipping</th>
                                                            <td colspan="2"><em>Free Shipping</em></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total</th>
                                                            <td colspan="2" class="product-subtotal">₹<span
                                                                    class="font-xl text-brand fw-900">
                                                                    <%=sum%>
                                                                </span></td>
                                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="paymentMethod" id="exampleRadios3" value="COD" checked="">
                                            <label class="form-check-label" for="exampleRadios3"
                                                data-bs-toggle="collapse" data-target="#bankTranfer"
                                                aria-controls="bankTranfer">Cash On Delivery</label>

                                        </div>
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio"
                                                name="paymentMethod" id="razorpay-button" value="razorpay" checked="">
                                            <label class="form-check-label" for="exampleRadios4"
                                                data-bs-toggle="collapse" data-target="#checkPayment"
                                                aria-controls="checkPayment">Razorpay</label>

                                        </div>

                                    </div>
                                    <!-- <div class="payment_option">
                  
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" value="COD" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#cashOnDelivery" aria-controls="checkPayment"  >Cash On Delivery</label>
                                        
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Online Payment</label>
                                        
                                    </div>
                                </div> -->
                                </div>

                                <button id="place-order-button" type="submit"
                                    class="btn btn-fill-out btn-block mt-30">Place Order</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>


    <!-- <script>
        $(document).ready(function () {
          $('#your-new-button-id').click(function (e) {
            e.preventDefault();
            $.ajax({
              url: '/get-razorpay-order',
              method: 'POST',
              dataType: 'json',
              success: function (data) {
                if (data.orderId) {
                  const options = {
                    key: 'rzp_test_U8Im7tdpfcXFYz', 
                    amount: data.amount,
                    currency: 'INR',
                    name: 'Vision Vogue',
                    description: 'Payment for Order',
                    order_id: data.orderId,
                    handler: function (response) {
                      if (response.razorpay_payment_id) {
                        window.location.href = '/order-success';
                      } else {
                        alert('Payment failed or canceled');
                      }
                    },
                  };
      
                  const rzp = new Razorpay(options);
                  rzp.open();
                } else {
                  alert('Failed to fetch Razorpay order ID');
                }
              },
              error: function () {
                alert('Error fetching Razorpay order ID');
              },
            });
          });
        });
      </script> -->


    <script>

        $(document).ready(function () {
            $('.payment-form').submit(function (e) {
                e.preventDefault()
                var formData = $(this).serialize();
                $.ajax({
                    url: "/checkout",
                    method: "post",
                    data: formData,
                    success: function (res) {
                        alert('before call')
                        if (res.success) {
                            alert('after call')
                            alert(res.receipt)
                            var options = {
                                "key": "" + res.key_id + "",
                                "amount": "" + res.amount + "", 
                                "currency": "INR",
                                "name": "Vision Vogue",
                                "order_id": "" + res.order_id + "",
                                "receipt" : ""+res.receipt+"",
                                "handler": function (response) {
                                    
                                    verifyPayment(response, res.order_id, res.receipt);

                                    // window.open("/order-success", "_self")
                                },
                                "prefill": {
                                    "contact": "" + res.contact + "",
                                    "name": "" + res.name + "",
                                    "email": "" + res.email + ""
                                },
                                "theme": {
                                    "color": "#2300a3"
                                }
                            }
                            var razorpayObj = new Razorpay(options);
                            razorpayObj.on('payment.failed', function (response) {
                                // alert("payment failed")
                            })
                            razorpayObj.open();
                        } else {
                            // alert(res.msg)
                        }

                        if (res.status) {
                            window.open("/order-success", "_self")
                        } else {
                            // alert(res.msg)
                        }
                    },

                })
            })
        })

        function verifyPayment(payment, order, orderId) {
            alert("cal comes")
            alert(orderId)
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order,
                    orderId
                },
                method: 'post',
                success: function () {

                    Swal.fire({
                        title: 'Order Placed Successfully!',
                        text: 'View your orders',
                        icon: 'success',
                        showConfirmButton: true,
                        confirmButtonText: "View order"
                    }).then(function () {
                        window.location.href = "http://localhost:3000/user-account"

                    })
                }
            })
        }

    </script>



    <!-- Preloader Start -->

    <!-- Vendor JS-->
    <%- include('../partials/home/home-footer.ejs') %>