<%- include('../partials/home/home-header.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>



    <main class="main">
        <section class="popular-categories section-padding mt-15">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
                    </div>
                    <div class="carausel-6-columns" id="carausel-6-columns">
                        <% for (let i=0; i < categories.length; i++) { %>
                            <div class="card-1">
                                <figure class=" img-hover-scale overflow-hidden">
                                    <a href="/category/<%= encodeURIComponent(categories[i]?.name) %>">
                                        <img src="/assets2/imgs/category/<%=categories[i]?.image%>" alt=""></a>
                                </figure>
                                <h5><a href="/category/<%=categories[i]?.name%>">
                                        <%=categories[i]?.name%>
                                    </a></h5>
                            </div>
                            <% } %>


                    </div>
                </div>
            </div>
        </section>
        <section class="home-slider position-relative pt-25 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                <%for(let i=0;i<banner.length;i++) {%>
                                    <div class="single-hero-slider single-animation-wrap">
                                        <div class="container">
                                            <div class="slider-1-height-3 slider-animated-1 d-flex justify-content-end">
                                                <div class="hero-slider-content-2" style="text-align: right;">
                                                    <%if(banner[i]?.name) {%>
                                                        <h4 class="animated">
                                                            <%=banner[i]?.name%>
                                                        </h4>
                                                        <!-- <p class="animated"><%=banner[i]?.description%></p> -->
                                                        <!-- <h2 class="animated fw-900">Supper Value Deals</h2>
                                                        <h1 class="animated fw-900 text-brand">On All Products</h1>
                                                        <p class="animated">Save more with coupons & up to 70% off</p> -->
                                                        <%}%>
                                                            <a class="" href=""></a>
                                                            <a class="animated btn btn-brush btn-brush-3"
                                                                href="<%=banner[i]?.linkToProduct%>"> Shop Now </a>
                                                </div>
                                                <div style="min-width: 100;" class="slider-img">
                                                    <img src="/assets2/imgs/banners/<%=banner[i]?.image%>" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-tabs section-padding wow fadeIn animated">
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one"
                                aria-selected="true">Featured</button>
                        </li>

                    </ul>
                    <!-- <a href="#" class="view-more d-none d-md-flex">View More<i
                            class="fi-rs-angle-double-small-right"></i></a> -->
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                        <div class="row product-grid-4">
                            <% for (let i=0; i < 8; i++) { %>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/product/<%=products[i]?._id%>">
                                                    <img class=""
                                                        src="/assets2/imgs/products/<%=products[i]?.image[0]%>" alt="">
                                                    <img class="hover-img"
                                                        src="/assets2/imgs/products/<%=products[i]?.image[0]%>" alt="">
                                                    <!-- <img class="hover-img" src="/assets/imgs/shop/product-1-2.jpg" alt=""> -->
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist"
                                                    onclick="addToWishlist('<%=products[i]._id%>','<%=user?._id%>')"
                                                    class="action-btn hover-up"><i class="fi-rs-heart"></i></a>
                                            </div>

                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <% if(i<=2){ %> <span class="hot">Hot</span>
                                                    <%}else{}%>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/product/<%=products[i]?._id%>">
                                                    <%=products[i]?.category.name%>
                                                </a>
                                            </div>
                                            <h2><a href="/product/<%=products[i]?._id%>">
                                                    <%=products[i]?.name%>
                                                </a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>

                                            <span>
                                                <% if(products[i]?.stock> 0) {%>
                                                    <% if( products[i]?.stock> 15){%>
                                                        <span class="in-stock text-success ml-2">In Stock</span>

                                                        <%}else{%>
                                                            <span class="in-stock text-danger ml-2">Only few left</span>
                                                            <%}%>

                                                                <%}else{%>
                                                                    <span class="text-danger">Out of Stock</span>
                                                                    <%}%>
                                            </span>

                                            <div class="product-price">
                                                <span>
                                                    ₹ <%=products[i]?.price%>
                                                </span>
                                                <span class="old-price">
                                                    ₹ <%=products[i]?.price%>
                                                </span>
                                            </div>
                                            <!-- <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="/add-to-cart/<%=products[i]?._id%>"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <% } %>

                        </div>
                        <!--End product-grid-4-->
                    </div>
                    <!--En tab one (Featured)-->


                    <!--En tab two (Popular)-->

                    <!--En tab three (New added)-->
                </div>
                <!--End tab-content-->
            </div>
        </section>


        <section class="banner mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/assets/imgs/banner/banner-1.png" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save 20% on <br>Woman Bag</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-img wow fadeIn animated">
                            <img src="/assets/imgs/banner/banner-2.png" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer <br>Collection</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="/assets/imgs/banner/banner-3.png" alt="">
                            <div class="banner-text">
                                <span>New Arrivals</span>
                                <h4>Shop Today’s <br>Deals & Offers</h4>
                                <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-25 pb-20">
            <div class="container wow fadeIn animated">
                <h3 class="section-title mb-20"><span>New</span> Arrivals</h3>
                <div class="carausel-6-columns-cover position-relative">
                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows">
                    </div>
                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">



                        <% for( let i=8; i> 0; i--){%>
                            <div class="product-cart-wrap small hover-up">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/product/<%=products[i]?._id%>">
                                            <img class="default-img"
                                                src="/assets2/imgs/products/<%=products[i]?.image[0]%>" alt="">
                                            <img class="hover-img"
                                                src="/assets2/imgs/products/<%=products[i]?.image[0]%>" alt="">
                                        </a>
                                    </div>
                                    <div class="product-action-1">

                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up"
                                            onclick="addToWishlist('<%=products[i]._id%>','<%=user?._id%>')"
                                            tabindex="0"><i class="fi-rs-heart"></i></a>

                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <%if(i> 7 ){%>
                                            <span class="new">New</span>
                                            <%}else{%>

                                                <%if(i % 2===0){%>
                                                    <span class="hot">Hot</span>
                                                    <%}else{%>
                                                        <span class="sale">Trending</span>
                                                        <%}%>

                                                            <%}%>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <h2><a href="/product/<%=products[i]?._id%>">
                                            <%=products[i]?.name%>
                                        </a></h2>
                                    <div class="rating-result" title="90%">
                                        <span>
                                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span>
                                            <%=products[i]?.price%>
                                        </span>
                                        <span class="old-price">
                                            <%=products[i]?.price%>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <%}%>




                                <!--End product-cart-wrap-2-->

                                <!--End product-cart-wrap-2-->







                                <!--End product-cart-wrap-2-->
                    </div>
                </div>
            </div>
        </section>
        <section class="deals section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated mb-md-4 mb-sm-4 mb-lg-0"
                            style="background-image: url('/assets/imgs/banner/menu-banner-7.jpg');">
                            <div class="deal-top">
                                <h2 class="text-brand">Deal of the Day.</h2>
                                <h5>Limited quantities.</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html">Summer Collection New Morden
                                        Design</a></h6>
                                <div class="product-price"><span class="new-price">$139.00</span><span
                                        class="old-price">$160.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i
                                        class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 deal-co">
                        <div class="deal wow fadeIn animated"
                            style="background-image: url('/assets/imgs/banner/menu-banner-8.jpg');">
                            <div class="deal-top">
                                <h2 class="text-success">Men Clothing</h2>
                                <h5>Shirt & Bag</h5>
                            </div>
                            <div class="deal-content">
                                <h6 class="product-title"><a href="shop-product-right.html">Try something new on
                                        vacation</a></h6>
                                <div class="product-price"><span class="new-price">$178.00</span><span
                                        class="old-price">$256.99</span></div>
                            </div>
                            <div class="deal-bottom">
                                <p>Hurry Up! Offer End In:</p>
                                <div class="deals-countdown" data-countdown="2026/03/25 00:00:00"></div>
                                <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i
                                        class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <script>
        function addToWishlist(productId, userId) {
            if (!userId) {
                Swal.fire(
                    'Login',
                    'User need to Login for further proceeding',
                    'warning'
                ).then(() => {

                    window.location.href = "/login"
                })

            }

            $.ajax({
                url: `/add-to-wishlist?productId=${productId}`,
                method: 'get',
                success: function (res) {
                    if (res.success1) {
                        Swal.fire(
                            'Done!',
                            'Item added to your wishlist.',
                            'success'
                        )
                        
                        .then(() => {
                            if (res.length && res.length == 1) {
                                // alert('res.length')
                                window.location.reload()
                                document.getElementById('wishlistLength').innerHTML = 1;
                            } else {
                                // alert(res.length)
                                const number = document.getElementById('wishlistLength').innerHTML
                                document.getElementById('wishlistLength').innerHTML = parseInt(number) + 1;
                            }
                        })


                    } else if (res.success) {
                        Swal.fire(
                            'Alert',
                            'Item already exists in wishlist',
                            'question'
                        );
                    }
                }
            })
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>

    <%- include('../partials/home/home-footer.ejs') %>