<%- include('../partials/home/home-header.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>

                 
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span><%= product?.category.name%></span> 
                    <span><%= product?.name%></span>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class=" container ">
                <div class="row">
                    <div class=" col-12 ">
                        <div class=".product-detail accordion-detail ">
                            <div class="container">
                            <div class="row">
                            <div class="col-6">
                                <!-- <div class="col-md-6 col-sm-12 col-xs-12"> -->
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">

                                            <% for (let i = 0; i < product?.image.length; i++) { %>   
                                                <figure class="border-radius-10">
                                                    <img src="/assets2/imgs/products/<%=product?.image[i]%>"  alt="product image">
                                                </figure>                                               
                                                 <% } %>

                                           
                                           
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% for (let i = 0; i < product?.image.length; i++) { %>   

                                                <img src="/assets2/imgs/products/<%=product?.image[i]%>" alt="product image">
                                                <% } %>

                                            
                                        </div>
                                    </div>
                                    </div>
                                    <!-- // End Gallery  -->
                                <!-- </div> -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= product?.name%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="shop-grid-right.html"><%= product?.brand%></a></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div> -->
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹ <%= product?.price%></span></ins>
                                                <ins><span class="old-price font-md ml-15"><%= product?.price%></span></ins>
                                                <!-- <span class="save-price  font-md color3 ml-15">20% Off</span> -->
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= product?.category.name%></p>
                                            <p><%= product?.details%></p>
                                            
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 3 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                           

                                          <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                          <div class="detail-extralink">
                                            <!-- <form action="/add-to-cart" method="post" class="d-flex align-items-center"> -->
                                   
                                              
                                                <input type="hidden" class="productId" name="productId" value="<%= product?._id %>">
                                                <!-- <input type="hidden" class="quantity" name="quantity" value="1"> -->
                                              <%if( product?.stock > 0){%>
                                                <div class="product-extra-link2">
                                                    <button onclick="addToCart('<%= product?._id %>')" class="button button-add-to-cart">Add to cart</button>
                                                    
                                                    <a onclick="addToWishlist('<%=product?._id%>','<%=user?._id%>')" aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a>
                                                </div>

                                                <%}else{%>
                                                    <div class="product-extra-link2">
                                                        <button disabled class="btn btn-disabled">Add to cart</button>
                                                        <a onclick="addToWishlist('<%=product?._id%>','<%=user?._id%>')" aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a>
                                                    </div>
                                                    <%}%>
                                                    
                                             
                                              
                                            </div>

                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Clarity in style</a>, <a href="#" rel="tag">vision in frames</a>, <a href="#" rel="tag">eyewear</a> </li>
                                            <% if( product?.stock > 15){%>
                                            <li>Availability:<span class="in-stock text-primary ml-5">In Stock</span></li>

                                            <%}else if( product?.stock < 1){%>
                                                <li>Availability:<span class="in-stock text-danger ml-5">Out of Stock</span></li>
                                                <%}else{%>
                                                    <li>Availability:<span class="in-stock text-danger ml-5">Only few left</span></li>

                                                    <%}%>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%= product?.description%></p>

                                        <hr class="wp-block-separator is-style-dots">
                                        <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello far meadowlark imitatively egregiously hugged that yikes minimally unanimous pouted flirtatiously as beaver beheld above forward
                                            energetic across this jeepers beneficently cockily less a the raucously that magic upheld far so the this where crud then below after jeez enchanting drunkenly more much wow callously irrespective limpet.</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                  
        </section>
    </main>


    <script>
        function addToWishlist(productId, userId) {
            if (!userId) {
                Swal.fire(
                    'Login',
                    'User need to Login for further proceeding',
                    'warning'
                ).then(() => {

                    window.location.href = "/login"
                })

            }

            $.ajax({
                url: `/add-to-wishlist?productId=${productId}`,
                method: 'get',
                success: function (res) {
                    if (res.success1) {
                        Swal.fire(
                            'Done!',
                            'Item added to your wishlist.',
                            'success'
                        )
                        
                        .then(() => {
                            // alert(res.length)
                            if (res.length && res.length == 1) {
                                // alert('res.length')
                                window.location.reload()
                                document.getElementById('wishlistLength').innerHTML = 1;
                            } else {
                                // alert(res.length)
                                const number = document.getElementById('wishlistLength').innerHTML
                                document.getElementById('wishlistLength').innerHTML = parseInt(number) + 1;
                            }
                        })


                    } else if (res.success) {
                        Swal.fire(
                            'Alert',
                            'Item already exists in wishlist',
                            'question'
                        );
                    }
                }
            })
        }

        function addToCart(productId, userId) {
            $.ajax({
                url: `/add-to-cart?productId=${productId}`,
                method: 'get',
                success: function (res) {
                    if (res.success) {
                        Swal.fire(
                            'Done!',
                            'Item added to your wishlist.',
                            'success'
                        )
           

                    }
                    if(res.nonrepeat) {
                        const number = document.getElementById('cartLength').innerHTML
                        document.getElementById('cartLength').innerHTML = parseInt(number) + 1;
                    }
                }

            })
        }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <%- include('../partials/home/home-footer.ejs') %>