<%- include('../partials/home/home-header.ejs') %>
                 
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span><%= product.category.name%></span> 
                    <span><%= product.name%></span>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class=" container ">
                <div class="row">
                    <div class=" col-12 ">
                        <div class=".product-detail accordion-detail ">
                            <div class="container">
                            <div class="row">
                            <div class="col-6">
                                <!-- <div class="col-md-6 col-sm-12 col-xs-12"> -->
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">

                                            <% for (let i = 0; i < product.image.length; i++) { %>   
                                                <figure class="border-radius-10">
                                                    <img src="/assets2/imgs/products/<%=product.image[i]%>"  alt="product image">
                                                </figure>                                               
                                                 <% } %>

                                           
                                           
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% for (let i = 0; i < product.image.length; i++) { %>   

                                                <img src="/assets2/imgs/products/<%=product.image[i]%>" alt="product image">
                                                <% } %>

                                            
                                        </div>
                                    </div>
                                    </div>
                                    <!-- // End Gallery  -->
                                <!-- </div> -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= product.name%></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="shop-grid-right.html"><%= product.brand%></a></span>
                                            </div>
                                            <!-- <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div> -->
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹ <%= product.price%></span></ins>
                                                <ins><span class="old-price font-md ml-15"><%= product.price%></span></ins>
                                                <!-- <span class="save-price  font-md color3 ml-15">20% Off</span> -->
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= product.category.name%></p>
                                            <p><%= product.details%></p>
                                            
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                           
<!-- 
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                              <li><a href="#" onclick="selectSize('small')">S</a></li>
                                              <li class="active"><a href="#" onclick="selectSize('medium')">M</a></li>
                                              <li><a href="#" onclick="selectSize('large')">L</a></li>
                                            </ul>
                                          </div> -->
                                          <!-- <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                          <div class="detail-extralink">
                                            <div class="detail-qty border radius m-auto">
                                              <a href="#" class="qty-down" onclick="decreaseQuantity()"><i class="fi-rs-angle-small-down"></i></a>
                                              <span id="qty-val" class="qty-val">1</span>
                                              <a href="#" class="qty-up" onclick="increaseQuantity()"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <form method="POST" action="/add-to-cart/<%= product._id %>" id="addToCartForm">
                                              <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
                                                    <input type="hidden" name="size" id="size" value="medium"> 
                                                    <input type="hidden" name="quantity" id="quantity" value="1"> 
                                      
                                                    <button type="button" class="button button-add-to-cart mx-2" onclick="addToCart()">Add to cart</button>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                  </form>
                                            </div>
                                          </div> -->
                                          <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                          <div class="detail-extralink">
                                            <form action="/add-to-cart" method="post" class="d-flex align-items-center">
                                                <div class="form-outline" style="width: 70px;">
                                         
                                                  <input value="1" min="1" max="<%= product.stock%>" type="number" id="quantity" name="quantity" class="qty-val" />
                                                </div>
                                              
                                                <input type="hidden" class="productId" name="productId" value="<%= product._id %>">
                                              
                                                <button type="submit" class="button button-add-to-cart mx-2">Add to cart</button>
                                              </form>
                                              
                                            </div>

                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">lux</a>, <a href="#" rel="tag">men</a>, <a href="#" rel="tag">watches</a> </li>
                                            <li>Availability:<span class="in-stock text-primary ml-5"><%= product.stock%> Items In Stock</span></li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%= product.description%></p>

                                        <hr class="wp-block-separator is-style-dots">
                                        <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello far meadowlark imitatively egregiously hugged that yikes minimally unanimous pouted flirtatiously as beaver beheld above forward
                                            energetic across this jeepers beneficently cockily less a the raucously that magic upheld far so the this where crud then below after jeez enchanting drunkenly more much wow callously irrespective limpet.</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                  
        </section>
    </main>
    <%- include('../partials/home/home-footer.ejs') %>